body {
    height:100%;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 1em 2em;
    background-color: #34253d;
    overflow-x: hidden;
}

.bg-img{

    background-image: url("https://i.imgur.com/9a3VBZ6.jpg");
    background-repeat: no-repeat;
    position:fixed;
    transform: scale(1.08);
    height: 100%;
    width: 100%;
    margin:-5px -10px -10px -5px;
    background-size:cover;
    background-position: center;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    z-index: -1;
}

canvas {
    display: block;
    vertical-align: bottom;
  }

#particles-js {
    position: absolute;
    width: 100%;
    height: 200%;
    transform: scale(1.09);

  }

.js-count-particles {
    font-size: 1.1em;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

#name-of-me{
    font-size: 55px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

#down-arrow{
    font-size: 55px;
    
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -0%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}


#Info{
    margin-left: 15%;
    margin-right: 15%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    width: 70%;
    z-index: 2;
}

.ColumnInfo{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100%;
    width: 100%;
    z-index: 2;
}

.SingleInfoPart{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
    margin-top: 2%;
    background: rgba(28, 20, 25, 0.7);
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 25px;
}

.SingleInfoPart ul{
    font-size: 20px;
}

.SingleInfoPart h2{
    text-align: center;
}

#down-arrow a{
    color: white;
    text-decoration: none;

}

#down-arrow h1{
    left: 0;
    bottom: 0;
    animation: MoveUpDown 2s linear infinite;
    -webkit-animation: MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@-webkit-keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

#Roach {
    text-align: center;
}

.cutoutpic{
    overflow: hidden;
    -webkit-clip-path: polygon(50% 0%, 97% 11%, 91% 62%, 79% 98%, 18% 99%, 0% 60%, 7% 6%);
    clip-path: polygon(50% 0%, 97% 11%, 91% 62%, 79% 98%, 18% 99%, 0% 60%, 7% 6%);
    width: 200px;
    height: 400px;
    float: left;
    margin-right:50px;
}
.cutoutpic > img{
    width: 100%;
}

#name-of-me h1{
    margin: 0.4em 0;
    font-size: 55px;
}

#down-arrow h1{
    margin: 0.4em 0;
    font-size: 55px;
}

#name-of-me h2{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Doles', sans-serif;
    z-index: 2;
    font-size: 15;
}

a{
    color: rgb(214, 121, 44)
}

/* https://codepen.io/scanfcode/pen/MEZPNd */


.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  display: flex;
  justify-content: flex-end;
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#562c48;
  /*color:#818a91;*/
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.github:hover
{
  background-color:#4078c0
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
}
